<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0ED884FD224D5666000D95D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ED88511224D5667000D95D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ED8851C224D5667000D95D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
